<a href="https://colab.research.google.com/github/swastikkmaurya/practical4/blob/main/Experiment4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Experiment : 4
##Swastik Maurya
#25070123114
# Study of set in python

In [1]:
#unordered
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'cherry', 'apple'}

In [2]:
thisset = {"apple", "banana", "cherry","apple"}
print(thisset)

{'banana', 'cherry', 'apple'}

In [3]:
thisset = {"apple", "banana", "cherry",True,1,2}
print(thisset)

{True, 2, 'banana', 'cherry', 'apple'}

In [4]:
# to check Membership
thisset = {"banana","apple","Cherry"}

print("banana" in thisset)
print("Grapes "in thisset)

True
False

In [6]:
#once a set is created you cannot replace its items,
#but we can add value, And REMOVE
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
thisset.remove("banana")
print(thisset)

{'orange', 'cherry', 'apple'}

In [10]:
#Set operations
A= {1,2,3,4}
B= {3,4,5,6}

print("union: ", A|B)
print("Intersection : ",A&B)
print("Differnce 1 : ",A-B)
print("Differnce 2 : ",B-A)
print("Symmetric Difference : ",A^B)

union:  {1, 2, 3, 4, 5, 6}
Intersection :  {3, 4}
Differnce 1 :  {1, 2}
Differnce 2 :  {5, 6}
Symmetric Difference :  {1, 2, 5, 6}

In [18]:
#frozenset
#Adding or Removal of elemnets are not allowed in frozenset
X = frozenset({"Apple","Banana","Cherry"})
print(X)
print(type(X))

frozenset({'Banana', 'Apple', 'Cherry'})
<class 'frozenset'>

In [ ]:
''' Problem Statement 1 : Unique Event Participants
A college event has a list of students who registered for the event multiple times.
Only display the students who registered for the event only once.

In [19]:
participants = ["Alex","Maya","Daniel","Sofia","Liam","Aisha","liam","Emma","Margot","Sweeny"]
unique_participants = set(participants)
print("Unique Participants",unique_participants)

Unique Participants {'Alex', 'Emma', 'Margot', 'Daniel', 'Maya', 'Liam', 'Aisha', 'liam', 'Sofia', 'Sweeny'}

In [ ]:
'''Problem Statement 2 : three students has choose elective subjects
Find the commom subjects of all three students by set operations.

In [24]:
stud1 = {"python","aiml","entc","ra","civil"}
stud2 = {"python","aiml","sports","marketing","cullinary"}
stud3 = {"python","aiml","java","c++","human values","cyber security"}

common_subjects = stud1 & stud2 & stud3
print("Common Subjects : ",common_subjects)

Common Subjects :  {'aiml', 'python'}

In [ ]:
'''problem statement 3 :  one set contains students in the cricket club and football club
find who are in one club or both clubs

In [25]:
cricket = {"Amit","rahul","neha"}
football = {"Amit","smit","glen"}
print("Both clubs :",cricket&football)
print("One club :",cricket^football)

Both clubs : {'Amit'}
One club : {'glen', 'smit', 'rahul', 'neha'}

In [ ]:
''' Problem Statement 4 : Absent Students
find the absent student

In [26]:
total = {"A","B","C","D","E","F"}
present = {"A","C"}
absent = total - present
print("Absent Students : ",absent)

Absent Students :  {'D', 'B', 'E', 'F'}

In [ ]:
''' Problem statement 5: Remove the invalid entries
Remove the invalid entries from the list

In [29]:
course ={"ETC101","ETC102","ETC103"}
course.discard("ETC101")

print("new Course :",course)

new Course : {'ETC102', 'ETC103'}